// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

li.locale-flag {
  filter:grayscale(100%);

  &.activated {
    filter:grayscale(0%);
  }

  &:hover {
    filter:grayscale(0%);
  }
}
