vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
public/css
public/js

# Avoid ignore css files for the home of site
!public/css/fonts/*
!public/css/creative.css
!public/css/animate.min.css
!public/css/css/font-awesome.css
!public/css/css/font-awesome.min.css

# Avoid ignore js files for the home of site
!public/js/cbpAnimatedHeader.js
!public/js/classie.js
!public/js/creative.js
!public/js/jquery.easing.min.js
!public/js/jquery.fittext.js
!public/js/wow.min.js
